SUPABASE_DB_PASSWORD=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_GOOGLE_AUTH_WEB_CLIENT_ID=167675865417-smpmghok6vgqbl3me512qvcb71pn02bo.apps.googleusercontent.com
# Get this from Google Cloud Console -> Credentials -> OAuth 2.0 Client IDs -> Web client